config.py
.vscode/*
__pycache__/*
venv/*
config.pyc
completed_cities
auth.pyc

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
phantomjs
ghostdriver.log
create_data.py
find_old_tweets.py
run.log
covid.csv
query.py
patna_oxygen.csv
oxygen_kolkata.csv
sort_the_database.py
data.json
harsha_data.py
harsha.csv
leads.txt
Ghaziabad_icu.txt
delhi_icu.txt
patna_plasma.txt
clean_old_entries.py
leads.csv
